body {
  margin: 0;
  background-color: #76c400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 16px;
}

.winner h1 {
  color: #fff;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  letter-spacing: 12px;
}

.winner p {
  color: #fff;
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 80px;
}

.stars {
  width: 600px;
  height: 300px;
}

.trophy {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 200px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play_again {
  background-color: #fff;
  color: #6b6b6b;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 10px;
}

.rules-container {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px;
}

.rules-container button {
  color: white;
  background-color: transparent;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
}

.rule-box {
  color: #fff;
  background-color: #053905;
  display: block;
  width: 300px;
  border: 6px solid #fff;
  border-radius: 13px;
  position: relative;
}

.rule-header {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding: 20px 16px 0 16px;
}

.rule-content {
  font-size: 14px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
}

ul {
  list-style: square;
}

.close_btn{
    display: none;
}

li::marker {
  color: #ffa943;
  font-size: 24px
}
